.header {
    width: 100vw;
    height: 80px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    color: #555B6E;
    background-color: #FAF9F9;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: #BEE3DB;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.h2 {
    color: #555B6E;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.form {
    width: 200px;
    height: 250px;
    background-color: #89B0AE;
    border-radius: 20px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.inputs {
    border: none;
    border-radius: 25px;
    margin: 10px;
}

.button {
    width: 50px;
    height: 30px;
    background-color: #FAF9F9;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #555B6E;
    margin: 5px;
}